.contact_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.5em;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 5%;
}

.contact_container h1 {
    color: #e33d33;
    padding: 0 .2em;
    background-color: #222;
    border-radius: 10px;
    font-size: 35px;
}

.contact_container p{
    text-decoration: none;
    color: #222;
    margin-top: 1.5%;
    font-size: 18px;
    transition: all 0.5s;
}

.contact_container p:hover{
    color: #e33d33;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contact_container a{
    text-decoration: none;
    color: #222;
    margin-top: 10%;
    transition: all 0.5s;
}

.contact_container a:hover{

    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}