.error_container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.title {
    font-size: 2.5em;
    text-transform: capitalize;
    background-color: #333;
    color: #fff;
    padding: 0.3em;
    margin: 1.5em auto;
    width: 300px;
    border-radius: 10px;
}

.error_container h3 {
    margin-top: -1em;
    margin-bottom: 1em;
    font-size: 1.4em;
    color: #e33d33;
}

.error_container .btn {
    text-decoration: none;
    background-color: #222;
    color: #fff;
    padding: .7em 1.2em;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s;
    margin-top: 30px;
}

.error_container .btn:hover{
    background-color: #e33d33;
    color: #fff;
}

.data_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5em;
}

@media screen and (max-width: 992px) {
  .title {
    font-size: 1.5em;
    text-transform: capitalize;
    background-color: #333;
    color: #fff;
    padding:.3em 1em;
    margin: 0.8em auto;
    width: 300px;
    border-radius: 10px;
}

.error_container h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.4em;
    color: #e33d33;
}

}