.footer{
    background-color: #333;
    color: #fff;
    padding: 3em;
    text-align: center;
    border-top:3 px solid #111;
    height: 170px;
    margin-top: 2em;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin: 0 1em;
    transition: all 0.4s;
    cursor: pointer;
}

.social_list svg{
    font-size: 1.5em;
    color: white;
    transition: all 0.4s
}

.social_list svg:hover{
    color: #e33d33;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.copyright{
    margin-top: 1.5em;
}

.copyright span{
    font-weight: bold;
    color: #e33d33;
}

@media screen and (width: 768px) {
    .footer{
        background-color: #333;
        color: #fff;
        padding: 3em;
        text-align: center;
        border-top:3 px solid #111;
        height: 300px;
        margin-top: 2em;
    }
  }

  @media screen and (width: 1024px) {
    .footer{
        background-color: #333;
        color: #fff;
        padding: 3em;
        text-align: center;
        border-top:3 px solid #111;
        height: 300px;
        margin-top: 2em;
    }
  }