.pokemon_container {
    text-align: center;
}

.title {
    font-size: 2.5em;
    text-transform: capitalize;
    background-color: #333;
    color: #fff;
    padding: 0.3em;
    margin: 0.8em auto;
    width: 300px;
    border-radius: 10px;
}

.pokemon_container h3 {
    margin: .6em auto;
    font-size: 1.2em;
}

.types_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.type {
    padding: .6em 1em;
    color: #fff;
    background-color: #000;
    margin-right: .5em;
    border: 1px solid #CCC;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
    transition: all 0.3s;
    cursor: default;
}

.type:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.type_normal {
    background-color: #aa9;
}
  
  .type_fire {
    background-color: #f42;
}
  
  .type_water {
    background-color: #39f;
}
  
  .type_eletric {
    background-color: #fc3;
}
  
  .type_grass {
    background-color: #7c5;
}
  
  .type_ice {
    background-color: #6cf;
}
  
  .type_fighting {
    background-color: #b54;
}
  
  .type_poison {
    background-color: #a59;
}
  
  .type_ground {
    background-color: #db5;
}
  
  .type_flying {
    background-color: #89f;
}
  
  .type_psychic {
    background-color: #f59;
}
  
  .type_bug {
    background-color: #ab2;
}
  
  .type_rock {
    background-color: #ba6;
}
  
  .type_ghost {
    background-color: #66b;
}
  
  .type_dragon {
    background-color: #76e;
}
  
  .type_dark {
    background-color: #754;
}
  
  .type_steel {
    background-color: #aab;
}
  
  .type_fairy {
    background-color: #e9e;
}

.data_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5em;
}

.data_container div{
    margin: 1em 0;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.data_height {
    border-right: 1px solid #ccc;
}

.moves {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.moves ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    width: 80vw;
    height: auto;
}

.moves li {
    width: 15%;
    padding: 0.6em 1em;
    color: #fff;
    background-color: #e33d33;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    border: 2px solid black;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.moves li:hover {
  color: #e33d33;
  background-color: black;
  border: 3px solid #aab;
}